extends layout

block content
  .container
    if userName
      p Prijavljeni korisnik: #{userName}
    else
      p Trenutno niste prijavljeni.
      
    if ticket
      h2 Podatci o ulaznici
      p OIB: #{ticket.vatin}
      p Ime: #{ticket.firstname}
      p Prezime: #{ticket.lastname}
      p Vrijeme izrade: #{formattedDate}
    else
      p Nema podataka o ulaznici.
    
    a(href='/') 
      button Natrag na početnu stranicu
